<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="text" formControlName="email" class="form-control" id="email" required>
              <div *ngIf="loginForm.get('email')?.hasError('email')" class="text-danger">
                Invalid email address
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" formControlName="password" class="form-control" id="password" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
          </form>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isAuthenticated === false && isAuthenticated !== null">
          {{notification}}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="isAuthenticated === true && isAuthenticated !== null">
          {{notification}}
        </div>
      </div>
    </div>
  </div>
</div>
